{% extends "main/base.html" %}
{% load static %}

{% block title %}
sarva palakaya Foundation
{% endblock %}


{% block body %}

<div class="main">
    <h2 class="text-center">Our Aim</h2>
    <p class="m-5">A major objective of Sarva Palakaya Foundation is social welfare work in relation to illiteracy,
        poverty and disease. Our work aims to break the vicious cycle of poverty and social isolation and to restore
        hope for a better future. We believe that every person has the right to access resources and
        opportunities in order to live and develop with dignity and to become an active and contributing
        member of our society.</p>
    <p class="m-5">
        1. It has been set up as a society to extensively work in the area of environmental &, education
        health employment, environment sports culture, media social and awakening to the national
        spirit among the youth and women to India. <br>
        2. The society shall start to provide Free legal and awareness of rights to people at a grass-
        roots level. The society will have it, own web site with chartrooms for counseling, advice
        and discussion Forums. <br>
        3. To work for uplifting the status of women in the society. To work against female
        circumcision and to fight against the victimization of girl /women by anybody in the society
        on female circumcision or any other related issues. <br>
        4. the society will also prepare young people and women to actively join the education
        programs. To educate the people for adoption of the good norms of a good citizenship and
        to inculcate into the people's mind, ideals of national unity.
        5. to open the branches all over the country (India) for the propagation of the objects of the
        Society. the society fight against exploitation, injustice and corruption if found against any
        individual, class, community in the society. <br>
        a) Try to make people aware the importance of primary, secondary & higher education. <br>
        i) To work sincerely for people and humanity. To provide a platform for the exchange of
        ideas on the social, cultural and educational aspects of the society. The society shall build a
        chain to art & theatre, hostels, and study centers, reading rooms for Youth and women in
        various states. <br>
        ii) To educate people on a range of environmental issues. To educate the people for adoption
        of the good norms of a good citizenship and to inculcate into the people's mind, ideals of
        national unity. <br>
        a. To hold seminars, lectures, debates for the propagation of the objects of the society.
        b. To contribute to the social, cultural, medical, sports and educational betterment of the
        members of the society. <br>

        c. To establish charitable homeopathic hospitals, dispensaries all over the country (India) in
        a. Rural areas for the social welfare of the masses in urban slims and rural areas. <br>

        5. The society will encourage art & theatre sports, activity (both in door & outdoor) by conducting
        local, state national and international level tournaments, coaching camps, training and giving
        Awards to outstanding sports men from India. <br>


        6. The society will create a special educational web site which will import education across the
        Entire country and have all information stored that is needed by a student the society will use
        The internet for guidance for various conducting, courses to internet to students.
        <br>
        7. The society will organize seminars, conferences, debates, fairs in any field for betterment to youth
        and women. <br>
        8. The society has a vision for the country’s you to and women, particularly from rural and Tribal
        areas. It wants to Create ideal village as models of modern day living. <br>
        9. The society will conduct not only its own programs in the northeast states it India, but will also
        Actively participate in all government projects. <br>
        10. The society will hold regular health camps for activities like cataracts, a bloom denotation
        Cancer and health check camps, etc. <br>
        11. To popularize its efforts and create awareness about its various activators the society will publish
        its own newsletter/paper . It may also publish magazines/ books etc. on to picks to its Interne. <br>
        12. The society wants to encourage young scientist, writer, singer, artists, actors, musicians, etc. by
        bringing out books, audio – video tapes, CD’s albums etc. <br>
        13. The society wants to prepare young people to serve the aged persons; it also aims to start senior
        citizen homes in various places, and will also carry out other activities for their welfare the good
        to. <br>
        14. The society also plans to run a project to managed by its youth and women member for foreign
        tourist to show them the cultural heritage of India. To propagate the need for tree plantation/
        pollution control and environmental awareness. <br>
        15. The society will also join hands with other similar organizations and extend those financial help
        and it its expertise. To help and generate training programme for self employment of women
        and educated unemployed people and to work for adult education <br>
    </p>
</div>


{% endblock body %}